.accordion__body {
    display: block;
}

.accordion__body--hidden {
    display: none;
}
.itemHeading {
   margin: 0 auto;
    padding:2% 5%;
    background-color: #FF8977;
    border: .5px solid black;
}

.accordionBody {
    border: 5px solid #DB2B39;
background-color: white;

    padding: 0 5%;

}

.accordionButtons  {
padding: 3% 0;
    margin-top: 15%;
    border-top: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.accordionButtons button {
      letter-spacing: .2em;
    padding: 3%;
    font-size: .9em;
    font-family: inherit;
    font-weight: bolder;
    background-color: #DB2B39;
    color: white;
    border: transparent;

}