.landingPage{
    background-image: url('../images/brushes.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
  
}


.welcome {
margin: auto auto;
}

.welcome p {
    margin: 0 3% 6% 3%;
}

.welcome h3 {
    text-align: center;
    margin:0;
}

.hiddenButton {
    border: transparent;
    background-color: transparent;
}