

.login button:hover {
    background-color: #DB2B39;
} 

.login button  {
    margin: 5% auto;
    margin-top: 10%;
    display: inline;
    letter-spacing: .2em;
    padding: 5% 7%;
    font-size: 1.1em;
    font-family: inherit;
    /* width: 100%; */
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 4px solid #DB2B39;
}

@media screen 
  and (min-device-width: 1200px) 

  and (-webkit-min-device-pixel-ratio: 1) {
 
    .login button  {
        margin: 0;
        background-color: orange;
        padding: 10%;
    }

  }