* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

html {
  min-height: 100%;
overflow-x: hidden;
margin: 0;
}

body {
  overflow-x: hidden;
  max-width: 100%;
  font-size: 20px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-image: url('./images/brushes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
   
}

.container {
margin-top: 15%;
}

.centeredContent {
  background-color: #FF8977;
  width: 90%;
  flex-direction: column;
  padding: 5% 1%;
  padding-bottom: 10%;
  margin: auto auto;
  border: 5px solid #DB2B39;
  border-radius: 10px;
} 


.errorMessage{
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-style: o
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;   

  /* font-family: 'Tangerine', cursive; */
  font-weight: 700;
  margin: 0;
  text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;   
  }
  
.hrCenter{
  /* margin: 0 auto; */
  text-align: center;
  /* display: block; */
display: flex;
flex-direction: row;
align-content: space-evenly;
justify-content: space-evenly;
}

input  {
width: 90%;
padding: 1.5% 3%;
font-size: .75em;
  border-radius: 13px;
margin: 3% auto 5% auto;
display: block;
}

input[type="password"] {
  width: 90%;
    border-radius: 13px;
    margin: 3% auto 5% auto;
    display: block;
  padding: 1.5% 3%;
font-size: .75em;

  }


/* TABLET */

@media only screen 
  and (min-device-width: 768px) 
  /* and (max-device-width: 1024px)  */
  and (-webkit-min-device-pixel-ratio: 1) {
body {
  font-size: 36px;
}

header {
padding: 0;
  font-size: 1em;
}

}

@media screen 
  and (min-device-width: 1200px) 
{ 
body {
  font-size: 26px;
}

.centeredContent {
  margin: 5% auto;
  width: 66%;
  padding: 5%;
}

.Dash {
  padding: 0;
  margin: 0;

}

.products h1 {
  margin:0;
  padding: 2%;
}
.looks h1 {
  margin:0;
  padding: 2%;
}


.welcome.centeredContent{
  width: 45%;
  font-size: 1.2em;
  line-height: 1.25;
  padding: 3% 0% 0 0% ;
 }

}