* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;

}

header, form {
  border: 3px solid pink;
}

h1, h2, h3 {
font-family: 'Tangerine', cursive;
font-weight: 700;
}